<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    window.haptikInitSettings = {
      "business-id": "3486",
      "client-id": "4260f620c9cc96eb9b5990a032b4c259e045cb2a",
      "base-url": "https://staging.hellohaptik.com/",
    };
  </script>
  <script
    type="text/javascript"
    charset="UTF-8"
    src="https://toolassets.haptikapi.com/platform/javascript-xdk/production/loader.js"
  ></script>
</body>

</html>